<div class="m-2">
  @if (getCategories().length === 0) {
    <div class="ml-2 flex items-center justify-start gap-4">
      <p>Loading items</p>
      <span class="loading loading-dots loading-md"></span>
    </div>
  }

  @for (category of getCategories(); track category) {
    <div class="collapse collapse-arrow bg-base-200 mb-4">
      @if (category === 'Weapon') {
        <input type="checkbox" checked/>
      } @else {
        <input type="checkbox"/>
      }
      <div class="collapse-title text-xl font-medium">
        {{ category }}
      </div>
      <div class="collapse-content">
        <div class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(100px,175px))]">
          @for (item of getItemsByCategory(category); track item.name) {
            <div
              class="card bg-base-100 shadow-md flex flex-col items-center text-start transform transition-transform duration-500 hover:scale-110">
              <figure class="m-2 w-14 h-14 overflow-hidden">
                <img [src]="item.imageUrl"
                     alt="{{item.name}}"
                     class="rounded-xl w-full h-full object-contain"
                     style="image-rendering: pixelated;"
                />
              </figure>
              <div class="card-body p-4">
                <h2 class="card-title text-lg font-bold">{{ item.name }}</h2>
                @if (item.cost > 0) {
                  <div>
                    Cost:
                    <span class="font-bold text-warning">{{ item.cost }}</span>
                  </div>
                }
                @if (item.action) {
                  <div>Action: {{ item.action }}</div>
                }

                <div>
                  @for (stat of item.stats | keyvalue | orderStats; track stat.key) {
                    <div>
                      {{ stat.key | formatStatsKey }}:
                      <span [class.font-bold]="stat.key === 'damage'">
                        {{ stat.key === 'physicalEvade' || stat.key === 'magicalEvade' ? stat.value * 100 + '%' : stat.value }}
                      </span>
                    </div>
                  }
                  @if (item.speed !== 0) {
                    <div>Move speed: {{ item.speed }}</div>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
