<div class="ml-3">

  <div style="text-align: center;">
    <img ngSrc="logo.png" alt="Logo" width="300" height="300">
  </div>

  <button class="btn btn-outline btn-secondary mb-4 mt-2 ml-26"><a href="https://quillraven.github.io/Masamune/">Play Game</a></button>

  <p>
    A long, long time ago, when I was starting game development in the Windows Console with C++,
    I had an idea for a game called Masamune.
    You can find this first version on <a class="link" href="https://www.youtube.com/watch?v=noL8t69hLTw">YouTube</a>.
  </p>

  <p class="mt-2">
    Last year (2024) I picked up that idea again and now implemented it in LibGDX using Kotlin.
    All the ideas (and more!) I had in mind are finalized.
  </p>

  <p>
    You can play the beginning of the story, where you learn a little bit about the fantasy
    world you are in and about the legendary sword Masamune!
  </p>

  <p class="mt-2">
    It is nothing impressive. So don't expect a lot. The play time is ~30 minutes I guess.
  </p>

  <p class="mt-4">This version contains:</p>
  <ul class="list-disc list-inside">
    <li>A controls screen</li>
    <li>A main menu screen for music/sound volume, language settings, and save state loading</li>
    <li>An introduction cut scene that can be canceled</li>
    <li>Four different maps that you can discover</li>
    <li>Multiple quests, monsters, and items</li>
    <li>A main quest cut scene with a Boss fight</li>
    <li>An outro sequence when this "demo" is over</li>
  </ul>

  <p class="mt-4">
    The majority of assets are from <a class="link" href="https://itch.io/">itch.io</a>.
    Any donations towards Masamune will also go back to the assets creators.
    They are all mentioned in the credits on the <a class="link" href="https://github.com/Quillraven/Masamune">GitHub</a> page.
  </p>

  <p>I appreciate any feedback and thanks for playing! :)</p>
</div>
