<div class="m-2">
  @if (getCategories().length === 0) {
    <div class="ml-2 flex items-center justify-start gap-4">
      <p>Loading actions</p>
      <span class="loading loading-dots loading-md"></span>
    </div>
  }

  @for (category of getCategories(); track category) {
    <div class="collapse collapse-arrow bg-base-200 mb-4">
      @if (category === 'Active (Offensive)') {
        <input type="checkbox" checked/>
      } @else {
        <input type="checkbox"/>
      }
      <div class="collapse-title text-xl font-medium">
        {{ category }}
      </div>
      <div class="collapse-content">
        <div class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(200px,300px))]">
          @for (action of getActionsByCategory(category); track action.name) {
            <div
              class="card bg-base-100 shadow-md flex flex-col text-start transform transition-transform duration-500 hover:scale-105">
              <div class="card-body p-4">
                <h2 class="card-title text-lg font-bold">{{ action.name }}</h2>
                <p class="text-sm">{{ action.description }}</p>
                @if (action.manaCost) {
                  <div>
                    Mana Cost:
                    <span class="font-bold text-primary">{{ action.manaCost }}</span>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
