<header>
  <nav class="navbar bg-base-100 shadow-sm">
    <a class="btn btn-ghost text-xl" routerLink="/" routerLinkActive="bg-primary text-primary-content"
       [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="btn btn-ghost text-xl" routerLink="/game" routerLinkActive="bg-primary text-primary-content">Play
      Game</a>
    <a class="btn btn-ghost text-xl" routerLink="/enemies"
       routerLinkActive="bg-primary text-primary-content">Enemies</a>
    <a class="btn btn-ghost text-xl" routerLink="/items" routerLinkActive="bg-primary text-primary-content">Items</a>
    <a class="btn btn-ghost text-xl" routerLink="/spells"
       routerLinkActive="bg-primary text-primary-content">Spells</a>
    <a class="btn btn-ghost text-xl" routerLink="/how-to" routerLinkActive="bg-primary text-primary-content">How To
      Mod</a>
  </nav>
</header>
